/*# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

### Neutral

- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 14px

### Font

- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weights: 500, 700

- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700

font-family: 'Fraunces', serif;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive;
*/

* {
    margin: 0;
}

*
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
line-height: 1.7;
}

input,
button,
textarea,
select {
    font: inherit;
}

h1,
h2,
h3,
p {
    overflow-wrap: break-word;
}

h1, h2, h3 {
    line-height: 1.1;
}

picture,
img {
    display: block;
    width: 100%;
}

/* general styling */

body{
    font-family:'Fraunces', serif;
    font-weight: 500px;
    font-size: 0.875rem;
    color: hsl(228, 12%, 48%);
    background-color: hsl(30, 38%, 92%);

   
/*for this project*/

display: grid;
place-content: center;
margin: 1rem;
}

/* utilites */
.flex-group {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}
 .button {
    cursor: pointer;
    border: 0;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color:hsl(158, 36%, 37%) ;
    color: hsl(0, 0%, 100%);
    font-weight: 500px;
    padding: 0.75em 1.5em;
    border-radius: 0.5rem;
   
 }

 .cart {
 width: 15px;
 height: 16px;
 left: 20px;
 }

 


 .button:where(:hover, :focus){
   color: hsl(210, 33%, 2%);
 }

/* product */
.product {
    display: grid;
    background-color:hsl(0, 0%, 100%) ;
    border-radius: 0.5rem;
    overflow: hidden;
    max-width: 550px;
}

@media (min-width: 600px)  {
    .product {
        grid-template-columns: 1fr 1fr;
    }
}

.product-content {
    display: grid;
    gap: 1rem;
    padding: 1.5rem;
}

.product-category {
    text-transform: uppercase;
    font-size: 0.8125rem;
    letter-spacing: 6px;
}

.product-title {
    font-size: 2rem;
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
}

.product-price {
    font-size: 2rem;
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
}

 